@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,400italic,500italic,700,700italic&subset=latin,latin-ext);
* ,
::after,
::before{
	box-sizing: border-box;
	font-family:'Roboto',Helvetica;
}
body{
	margin: 0;
	width: inherit;
	background: url(./img/background.png) no-repeat, #c2dfee;
}
header{
	position: relative;
	width: inherit;
	height: 40px;
	background:linear-gradient(rgba(61,61,61,.5),rgba(46,46,46,.5) ),  url(./img/ruido.png),rgb(46,46,46);
	margin: 0;
}
.wrapnav::after{
	position: absolute;
	content: "";
	width: 25px;
	height: 25px;
	left: 50%;
	top: 9px;
	background-image: url(./img/sprites.png) ;
	background-position: -40px 0px;
}
.wrapper{
	width: 864px;
	margin: 0 auto;
	background-color: rgba(255,255,255,.3); 
	padding: 15px;
}
.wrapper::after{
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
.wrapnav{
	position: relative;
	width: 864px;
	height: 100%;
	margin: 0 auto;
}

aside{ 
	float: left;
	width: 300px;

}
#nav{
	margin: 0;
	display: inline-block;
	padding: 0 15px;
	height: 100%;
}
#nav li{
	display: inline-block;
	height: 40px;
	padding: 10px 10px 10px 35px;
	list-style: none;
	font-size: 14px;
	color: #a5a5a5;
	font-weight: bold;
	position: relative;

}
#nav li a,
#links li a{
	display: inline-block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: inherit;
}
#home::after,
#connect::after,
#discover::after,
#me::after
{
	position: absolute;
	content: "";
	width: 25px;
	height: 25px;
	left: 10px;
	top: 9px;
	background-image: url(./img/sprites.png) ;
	
}
#home::after{
	background-position: 0px -50px;
}
#home:hover::after{
	background-position: 0px -110px;
}
#connect::after{
	background-position: -40px -50px;
}
#connect:hover::after{
	background-position: -40px -110px;
}
#discover::after{
	background-position: -80px -50px;
}
#discover:hover::after{
	background-position: -80px -110px;
}
#me::after{
	background-position: -120px -50px;
}
#me:hover::after{
	background-position: -120px -110px;
}
.active{
	background-clip: border-box;
	background: rgba(0,0,0,.3);
	box-shadow: inset 1px 1px 1px  #191919 ;
}
nav,
form{
	float: left;
}
.buttons{
	position: relative;
	padding: 7px;
	float: right;
}
form,
#twits3{
	position: relative;
}
label{
	position: absolute;
	top: 4px;
	left: 12px;
	color: #666666;
	pointer-events: none;
	padding-bottom: 2px;
	outline: none;
}
#search{
	border-radius: 15px;
	margin-right: 97px;
	padding: 2px 22px 3px 10px;
	border: none;
	box-shadow: inset 1px 1px 1px  #191919 ;

}
#search:focus + label{
	opacity: .1;
}
#enviar{
	outline: none;
	cursor: pointer;
	border: hidden;
	position: absolute;
	width: 20px;
	height: 25px;
	background: url(./img/sprites.png) repeat scroll -18px -706px, transparent;
	top: 2px;
	right: 100px;
}
.settings,
.tui,
.down{
	outline: transparent;
	cursor: pointer;
	border:hidden;
	position: absolute;
	width: 25px;
	height: 25px;
	background: transparent;
	background-image: url(./img/sprites.png) ;
}
.settings{
	background-position: -158px -48px;
	top: 7px;
	right: 68px;
}
.tui{
	width: 30px;
	border-radius: 5px;
	background-color: #398dc8;
	background-position: -194px -47px;
	top: 7px;
	right: 15px;
}
.down{
	background-position: -258px -48px;
	top: 7px;
	right: -45px;
}
.settings::before,
.tui::after,
.settings::after{
	position: absolute;
	content: "";
	width: 20px;
	height: 40px;
	background-position: -237px -54px;
	top: 0;
	left: -8px;
	background-image: url(./img/sprites.png) ;
}
.tui::after{
	background-position: -237px -54px;
	left: -11px;
}
.settings::after{
	width: 12px;
	height: 7px;
	background-position: center;
	background-repeat: no-repeat;
	top: 7;
	right: -11px;
}

/*-----------------------------------------------------------------------------------
							header y estilos basicos
-----------------------------------------------------------------------------------*/

aside> :nth-child(n+1),
.rigth> :nth-child(n+1){
	margin-bottom: 12px;
	border-radius: 5px;
	background: #f9f9f9;
	width: 100%;
	border: 1px solid #bed1da;

}
aside> :nth-child(n+1){
	padding: 11px;
}
aside{
	float: left;
	width: 300px;
}
#links{
	width: 100%;
	height: 165px;
	margin-top: 0;
	padding: 0;
	list-style: none;
}
#links> :nth-last-child(-n+4){
	color:#42a3c6;
}
#links> :last-child{
	border-bottom: transparent;
}
.activeli{
	color:#000;
}
.navsidebar{
	position: relative;
	font-size: 18px;
	padding:4px;
	padding-left: 12px;
	width: 100%;
	height: 20%;
	border-bottom: 1px solid #e8e8e8;
}
.navsidebar a::after,
.titlesimil::after{
	content: "";
	width: 25px;
	height: 100%;
	background-image: url(./img/sprites.png);
	background-position: 0 -154px;
	text-align: right;
	float: right;
}
.rigth{
	float: right;
	width: 520px;

}
#tweeto{
	height: 80px;
}
.photos{
	height: 210px;
}
#tweeto span{
	font-weight: bold;
	display: inline-block;
	padding-bottom: 5px;
}
#tweeto input{
	display: inline-block;
	width: 270px;
	height: 30px;
	padding: 0 5px;
	border: 1px solid #cccccc;
	border-radius: 5px;
}
.imagen{
	width: 90px;
	height: 90px;
	background-color: #999999;
	float: left;
	margin: 0 3px 3px 0;
}
.imagen:nth-child(3n){
	margin: 0 0 3px 0;
}
#legal{
	height: 80px;
	font-size: 12px;
	line-height: 17px;
	color: #a29e9e;
}
.useraroba{
	font-size: 14px;
	padding-left: 5px;
	color: #a29e9e;
	position: relative;
	font-weight: normal;
}
.useraroba:nth-child(2){
	padding-left: 22px
}
.useraroba:nth-child(2)::before{
	content: "";
	width: 20px;
	height: 20px;
	background-image: url('./img/sprites.png');
	background-position: -27px -480px;
	position: absolute;
	top: 3px;
	left: 0;
}
.linkfollow{
	font-size: 14px;
	color: #2194bd;
	display: inline;
}
.secondline{
	display: inline-block;
	width: 100%;
	font-size: 14px;
	color: #999999;
}
.linkfollow a{
	display: inline-block;
	height: 100%;
	text-decoration: none;
	color: inherit;
}
.titlesimil{
	display: inline-block;
	width: 100%;
	height: 20px;
	margin-bottom: 5px;
}
.simil{
	list-style: none;
	padding-left: 40px;
	position: relative;
}
.simil::before{
	position: absolute;
	left: 0px;
	top: 3px;
	content: "";
	width: 30px;
	height: 30px;
	background-color: #999999;
	border-radius: 5px;
}
.promoted{
	padding-right: 5px;
	padding-left: 3px;
}
.promoted::after{
	content: "";
	width: 20px;
	height: 20px;
	background-image: url(./img/sprites.png);
	background-position: 0px -344px;
	float: left;
}
/*------------------------------------------------
user perfil
------------------------------------------------*/
#imgperfil{
	border-radius: 5px;
	border: 5px solid #fff;
	background-color: #6c6c6c;
	width: 85px;
	height: 85px;
	display: block;
	margin: 0 auto;
}
.linkwhite{
	color: #fff;
	text-decoration: none;
}
#main{
	height: 310px;
	color: #fff;
	background: #999999;
	text-align: center;
	padding: 0;
	padding-top:13px; 
	position: relative;	
}
.name{
	font-size: 20px;
	display: block;
	margin: 0 auto;
}
#menu{
	color: #333333;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: #fff;
	border-radius: 0 0 4px 4px;
	display: table-row;
}
.tabla-cell{
	display: table-cell;
	padding: 5px 20px 0;
	text-align: left;
	height: 50px;
	border-left: 1px solid #999999;
	font-size: 14px;
	font-weight: bold;
}
#menu span {
	font-weight: normal;
	display: block;
	color: #999999;
	font-size: 11px;
}
.tabla-cell:first-child{
	border-left:hidden;
}
.perfilbutton{
	position: absolute;
	right: 14px;
	bottom: 11px;
	border-radius: 5px;
	border: 1px solid #cccccc;
}
#menu .perfilbutton:nth-last-child(1){
	text-align: right;
	width: 86px;
	height: 30px;
}
#menu .perfilbutton:nth-last-child(1)::after{
	content: "";
	position: absolute;
	width: 25px;
	height: 20px;
	right: 47px;
	bottom: 0px;
	background-image: url(./img/sprites.png);
	background-position: 0 -428px;
}
#menu .perfilbutton:nth-last-child(2){
	right: 110px;
	height: 30px;
	width: 40px;
	background-image: url(./img/sprites.png);
	background-position: -52px -422px;
}
/*--------------------------------------------------
posts
--------------------------------------------------*/
.link{
	text-decoration: none;
	color: #0084b4;
}
.usernametuit{
	margin:0;
	font-weight: bold;
	
	position: relative;
}
.usernametuit::before{
	content: "";
	width: 50px;
	height: 50px;
	background-color: #999999;
	position: absolute;
	top: 5px;
	left: -60px;
	border-radius: 5px;
}
.description{
	margin: 5px 0 ;
}
#twits1{
}
.titletweet{
	padding: 8px;
	margin: 0;
	border-bottom: 1px solid #e8e8e8;
}
.bordered{
	border: 1px solid #e8e8e8;
	border-left: transparent;
}
.fecharigth{
	float: right;
	padding: 12px;
	color: #999999;
	font-size: 14px;
}
.content{
	padding: 7px;
	padding-left: 70px;
	
}
.tableR{
	display: table-row;
}
.tablecell{
	display: table-cell;
	padding-bottom: 10px;
}
.photo,
.reply,
.ret,
.fav{
	padding-right: 10px;
	font-size: 12px;
}
.befblue::before{
	background-color: #0084b4;
}
.befgreen::before{
	background-color: #0084b4;
}
.photo::before,
.reply::before,
.ret::before,
.fav::before,
.retwted::before,
#twits3::before{
	content: "";
	width: 20px;
	height: 20px;
	background-image: url('./img/sprites.png');
	float: left;
}
.photo::before{
	background-position: -58px -185px;
}
.reply::before{
	background-position: 0px -185px;
}
.ret::before{
	background-position: -18px -185px;
}
.fav::before{
	background-position: -37px -185px;
}
.photosbig{
	background-color: #e8e8e8;
	width: 320px;
	height: 240px;
	margin-bottom: 20px;
}
.nomargin{
	margin: 0;
	padding: 0;
	list-style: none;
}
.cont{
	float:left;
	padding: 5px;
	width: 81px;
	height: 50px;
}
.cont>.secondline{
	font-size: 10px;
}
.cont:first-child{
	width: 65px;
	padding-left: 0;
	border-left: transparent;
}
.cont:last-child{
	width: 286px;
	border-right: transparent;
	padding: 8px 5px;
}
.retuites{
	width: 25px;
	height: 25px;
	background-color: #e8e8e8;
	margin: 3px;
	display: inline-block;
	list-style: none;
}
.flag{
	height: 40px;
	color: #999999;
	clear: both;
	font-size: 10px;
	padding: 15px 0;
}
.flagthis{
	float: right;
	padding-right: 15px;
}
.comment{
	height: 60px;
	color: #999999;
	border-top: 1px solid #e8e8e8;
	padding: 10px 0px 0px 70px;
}
.comment input{
	height: 35px;
	width: 430px;
	border: 1px solid #cccccc;
	border-radius: 5px;
	padding-left: 10px;
}
.tustcontainer{
	border-bottom: 1px solid #e8e8e8;
}
.expand{
	font-size: 10px;
	color: #999999;
}
#twits3::before{
	background-position: 1px -450px;
	width: 25px;
	height: 25px;
	float: right;
}
.retwted::before{
	background-position: -60px -346px;
}
