*{
	box-sizing: border-box;
	color: #fff;
	text-shadow:  -1px -1px .5em #000; 
}
body{
	background-image: url(./background.jpg);
	background-size: cover;
}
header{
	color: rgba(39, 181, 0,1);
	box-shadow: 1px 1px .9em #fff, inset 1px 1px .9em #000;
	border-radius:  5% 79%/100% ;
	text-align: center;
	width: 75%;
	border-radius:  5% 79%/100% ;
	display: flex;
	flex-flow: column;
	
}
.container{
	box-shadow: 1px 1px .9em #fff, inset 1px 1px .9em #000 ;
	border-radius:  5% 5% 0 0;
	margin-top: 1%;
	width: 75%;
	align-self: flex-start;
	display: flex;
	justify-content: space-around;
	flex-flow: wrap;

}
.perros{
	border-radius: 5%;
	margin: 10%;
	box-shadow: 1px 1px .9em #000;
}
aside{
	border: 1em dashed rgba(8,8,8,.5);
	position: fixed;
	right: 1%;
	top: 1%;
	bottom: 1%;
	text-align: center;
	box-shadow: 1px 1px .9em #fff, inset 1px 1px .9em #000;
	border-radius: 10% 20%;
	margin-top: 1%;
	align-self:stretch;
	width: 20%;
	color: transparent;

}
footer{
	clear: both;
	height: 3em;
	width: 75%;
	box-shadow: 1px 1px .9em #fff, inset 1px 1px .9em #000;
	border-radius: 0 0 200% 200%;
	text-align: center;
}