body{
	color: #C7C6C7;
	background-color: #3A352F;
	background-image: url(./fondora.PNG);
}
li{
	width: 10px;
	height: 10px;
	text-align: center;
	display: inline-block;
	list-style: none;
	background-color: rgba(41,37,34,.7);
	position: relative;

}

li::before{

	content: "";
	position: absolute;
	top: 1px;
	left: 1px;
	bottom: 1px;
	right: 1px;
	box-shadow: -1px -1px 0.1em #1A1816,1px 1px 0.1em #4C4740;
}
.rad::before{
	box-shadow: -1px -1px 0.1em #1A1816,1px 1px 0.1em #4C4740;
	border-radius: 50%;
}
.rad::after{
	content:"•";
	position:absolute;
	top: -1.3px;
	left: 2.5px;
	color:#F6B30C;

}
li::after{
	position:absolute;
	font-size:10px;
	top: -2.9px;
	left: 1.6px;
	content:"✓";
	color:#F6B30C;
}
.rad{
	border-radius: 50%;
}
ul li:first-child::after{
	content:"";
}
ul li:nth-last-child(2)::after{
	color:#1A1916;
}
/*-------------------------*/
.wrapp{
	border:4px solid rgba(41,37,34,.9);
	border-radius: 5px;
	width: 350px;
	height: 40px;
	position: relative;
	background-color: #3E3933;
	background-image: url(./vol.png), url(./deg.png);
	background-repeat: no-repeat, repeat-x;
	background-position: left;
	background-origin: 8 px 8px, 0px;
	background-size: 40px; 

}
.volume {
	width: 300px;
	height: 20px;
	background-color: #4d453e ; 
	position: relative;
	top: 25%;
	left: 30px;
	border-radius: 10px;
}
.inner-bar {
	background-color: #252320;
	width: 93%;
	height: 50%;
	position: absolute;
	top: 5px;
	left: 11px;
	border-radius: 10px;
}
.yellow-bar {
	width: 50%;
	height: 100%;
	background-color: #f8d212;
	border-radius: 10px;      
}
.handler {
	width: 18px;
	height: 18px;
	background-color: black;
	border-radius: 50%;
	position: absolute;
	top: -4px;
	left: 125px;
}
.handler::after {
	content: "";
	background: 50%;
	height: 9px;
	width: 9px;
	background: white;
	position: absolute;
	top: 5px;
	left: 4.15px;
	border-radius: 50%;
	box-shadow: 0 0 5px #c0c0c0;
}


