<!DOCTYPE html>
<html lang="en" ng-app="appworld">
<head>
  <meta charset="UTF-8">
  <title>helloworld</title>
  <script src="./angular.js" charset="utf-8"></script>
</head>
<body >
<!-- <body ng-app="appworld">
  <input type="text" ng-model="color" placeholder="Enter a color" />
  <hello-world/> -->
  <input type="text" ng-model="color" placeholder="Enter a color"/>
  <div hello-world color="color"/>
  </div>
  <script>
  /**
  * appworld Module
  *
  * Description
  */
  angular.module('appworld', [])

  .directive('helloWorld', function() {
  return {
    scope: {
      color: '='
    },
    restrict: 'AE',
    replace: true,
    template: '<p style="background-color:{{color}}">Hello World</p>',
    link: function(scope, elem, attrs) {
      elem.bind('click', function() {
        elem.css('background-color','white');
        scope.$apply(function() {
          scope.color = "white";
        });
      });
      elem.bind('mouseover', function() {
        elem.css('cursor', 'pointer');
      });
    }
  };
});/*
  /**
  * helloworld directive
  *
  * Description
  *//*
  .directive('helloWorld', function() {
    return {
    scope: {,  // use a new isolated scope
    restrict: 'AE',
    replace: 'true',
    template: '<h3>Hello World!!</h3>'
  };
});
  /*.directive('helloWorld', function(){
    // Runs during compile
    return {
       restrict: 'AE',
      replace: 'true',
      template:'<p style="background-color:{{color}}">Hello World!</p>',
      link: function (scope, elem, attrs){
        elem.bind('click', function(){
          elem.css('background-color','white');
          scope.$apply(function(){
            scope.color = "white";
          });
        });
        elem.bind('mouseover', function(){
          elem.css('cursor', 'pointer');
        });
}*/
      // name: '',
      // priority: 1,
      // terminal: true,
      // scope: {}, // {} = isolate, true = child, false/undefined = no change
      // controller: function($scope, $element, $attrs, $transclude) {},
      // require: 'ngModel', // Array = multiple requires, ? = optional, ^ = check parent elements
      // restrict: 'A', // E = Element, A = Attribute, C = Class, M = Comment
      // template: '',
      // templateUrl: '',
      // replace: true,
      // transclude: true,
      // compile: function(tElement, tAttrs, function transclude(function(scope, cloneLinkingFn){ return function linking(scope, elm, attrs){}})),
      
    // };
  //});
</script>
</body>
</html>