<!DOCTYPE html>
<html lang="en" ng-app="appworld">
<head>
  <meta charset="UTF-8">
  <title>helloworld</title>
  <script src="./angular.js" charset="utf-8"></script>
</head>
<body >
<div output-text>
  <p>Hello {{name}}</p>
</div>
  <script>
  /**
  * appworld Module
  *
  * Description
  */
  angular.module('appworld', [])
  .directive('outputText', function() {
  return {
    transclude: true,
    scope: {},
    template: '<div ng-transclude></div>'
  };
});
</script>
</body>
</html>