body{
	font-family: arial;
	width: 576px;
	margin:0 auto;
	border: 4px solid #0c2a62;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
p{
	margin: 0;
	padding-top: 7px;
}
#title{
	font-size: 27px;
	padding-left: 15px;
}
#subtitle{
	font-family: 'corbelregular';
	font-size: 16px;
	padding-left: 15px;
}

table{
	width: 576px;
	border-collapse: collapse;
}
body>div{
	height: 69px;
	color: #fff;
	background-image: url(./header-background.gif);
}
body>div::after{
	content: url(./logo.png);
	position:relative;
	bottom: 47px;
	left: 72%; 
	
}
tbody tr td{
	border:1px solid #c7cddb;
  	height: 31px;
	font-size: 11px;
	background-color: #f0f0f0;
	color: #747474;
	text-align: center;

}
tbody tr td:first-child{
	background-color: #dde4f3;
	border-left:hidden; 
	font-size: 13px;
	color: #1f3d71;
	text-align: left;
	padding-left: 15px;
  
}

tbody>tr:first-of-type td {
	
	font-size: 13px;
	color: #1f3d71;
	border-top:2px solid #0c2a62;
	border-bottom:2px solid #0c2a62;
	border-right:1px solid #c7cddb; 
	height: 48px;
	background-color:#ffffff;
}

tfoot>tr:first-of-type td{
	font-size: 13px;
	color: #070707;
	height: 47px;
	border-left:1px solid #c7cddb; 
	background-image: url(./footer-background-gradient.png);
	padding-left: 15px;
}
tfoot>tr td:first-child {
	border-left:hidden; 
}
tfoot>tr:last-of-type td{
	padding-left: 15px;
	font-size: 10px;
	color: #8a8a8a;
	line-height: 2.7em;
}
