* {
	margin: 0;
	padding: 0;
}
div :nth-child(n+1){
	float: left;
	display: block;
	width: 316px;
	height: 192px;
	margin-bottom: 30px;
	margin-right: 25px;
	background-color:white;
	border: 1px solid black;
	overflow: hidden;
	
}
div :nth-child(4n+4){
	margin-right: 0;
	background-color: black;
}
div :nth-last-child(-n+4){
	margin-bottom: 0px;

}
div :nth-child(2n){
	border-color: red;
}
div :nth-child(2n+1){
	border-color: brown;
}
div :nth-last-child(-n+2){
	background-color: orange;

}
p:first-of-type{
	color: white;
}
blockquote + span:nth-of-type(3) {
	color: blue;
}
blockquote:nth-of-type(3){
	color: grey;
}

