*{
	vertical-align: center;
	margin: 0;
	text-align: center;
	background-color: rgb(150,150,150);; 
}
li{
	font-style: none;
}
html{
	background-color: white;
}
#logo{
	width: 30%;
	height: 4em;
	float: left;
	margin-top: 3em;
	text-align: left;
}
header p{
	float: left;
	margin-left: 4.68%;
	margin-top: 5em;
	width: 40%;
	height: 2em;

}
#login{
	float:right;
	width: 20%;
	height: 5em;
}

body{
	width: 97%;
	margin: 1em 2%;
	border: none;
	background-color: white;
}
header{
	width: 100%;
	height: 8em;
	margin-bottom: 1em;
}
nav{
	text-align: left;
	clear: both;
	width: 100%;
	height: 3em;
	margin-bottom: 1em;
	padding-top: .5em;
} 
button,
input{
	width: 10%;
	text-align: left;
	float: right;
	margin-right: 3em;
	background-color: rgb(250,250,250);
	
}
nav ul{
	width: 60%;
	text-align: left;
}
.nav{
	margin-right: 2em;
}
ul, li {
	display: inline-block;

}
#welcom{
	margin-bottom: 1em;
	float: left;
	width: 31%;
	height: 20em;

}
p{
	margin: 1em;
}
#slider{
	margin-bottom: 1em;
	float: right;
	width: 65.5%;
	height: 20em;
}
#findus{
	margin-bottom: 1em;
	padding: 0;
	clear: both;
	width: 100%;
	height: 10em;
	background-color: white;
}
.sub-bar{
	display: inline-block;
	padding: 0;
	margin-right: 3%;
	width: 31%;
	height: 100%;
}
#findus :last-child{
	margin-right: 0;
}
#sub-sub{
	background-color: white;
	margin-bottom: 1em;
	height: 20em;
	padding: 0;
	float: left;
	width: 31%;
	background-color: white;
}
.sub-bar2{
	width: 100%;
	display: block;
	margin-bottom: 1em;
	height: 15em;
}
.sub-bar2 p,
.sub-bar2 h1{
	text-align: left;
}


main{
	float: right;
	clear: right;
	width: 65%;
}



footer{
	padding-top: 1em;
	clear: both;
	width: 100%;
	height:7em;
	clear: both;
}
footer ul{
	padding: 0;
	width:100%;
}
.fot{
	height: 6em;
	background-color: white;
	width: 30%;
	margin-right: 3%;
}
.fot:last-child{
	margin-right: 0;
}
#secondary{
	float:right;
}
#info{
	float: left;
}
.wite, 
#contents,
main  h1,
main,
#contents li,
main p{
	margin-bottom: 1em;
	background-color: white;
	text-align: left;
}



