*{
	margin: 0;
	text-align: center; 
	border: 1px solid black;
}
h1,h2,h3,p{
		border: none;
}
body{
	width: 97%;
	margin: 1em 2%;
	border: none;
}
header{
	width: 100%;
	height: 10em;
	margin-bottom: 1em;
}
header div{
	width: 99%;
	height: 95%;
	position: relative;
	top: 2%;
	left: .5%
}
aside{
	float: left;
	width: 28%;
	height: 35em;
	margin-bottom: 1em;
}
aside>div{
	width:90%;
	margin: 1em auto;
	height: 60%;
}
#module{
	width: 95%;
	height: 20%;
	margin: 1em auto;
}
#moduleCont{
	width: 95%;
	height: 20%;
	margin: 1em auto;
}
#moduleItems{
	width: 95%;
	height: 20%;
	margin: 1em auto;
}
main{
	float: left;
	width: 50%;
	margin: 0 0 1em 1%;
	height: 19em;
}
main>div{
	width: 95%;
	height: 33%;
	margin: 1em auto;
}
ul{
	width: 95%;
	height: 33%;
	padding: 0;
	margin: 1em auto;	
}
ul li{
	margin: 1em auto;
	list-style: none;
}
#middle{
	float: left;
	width: 50%;
	height: 15em;
	margin: 0 0 1em 1%;
}
#rightside{
	float: right;
	width: 18.5%;
	height: 35em;
	margin-bottom: 1em;
}
ul{
	border: none;
}

footer{
	clear: both;
	width: 100%;
	height:7em;
}

footer div{
	width: 99%;
	height: 93%;
	position: relative;
	top: 2%;
	left: .5%
}