*{
	margin: 0;
	text-align: center; 
	color: white;
}
body{
	margin: 0 auto;
	width:90%;
}
header{
	width: 100%;
	height: 10em;
	background-color: #4cc7bc;
}
main{
	float: left;
	width: 70%;
	height:20em;
	background-color: #4cc7bc;
	margin-top: 1em;
	margin-bottom: 1em;
}
aside{
	width: 28%;
	margin-left: 2%;
	background-color: #4cc7bc;
	height:20em;
	float: left;
	margin-top: 1em;
	margin-bottom: 1em;
}
footer{
	
	background-color: #4cc7bc;
	clear: both;
	width: 100%;
	height:10em;
}