*{
	margin: 0;
	text-align: center; 
	color: white;
}
body{
	width: 80%;
	margin: 1em auto;
	background-color: #333366;
}
header{
	width: 100%;
	height: 10em;
	background-color: #6699cc;
	margin-bottom: 1em;
}
nav{
	float: left;
	width: 20%;
	height: 39em;
	background-color: #6699cc;
	margin-bottom: 1em;
}
#Photo{
	float: left;
	height: 19em;
	width: 49%;
	background-color: #6699cc;
	margin-left: 2%;
	margin-bottom: 1em;
}
aside{
	float:left;
	margin-left: 2em;
	margin-bottom: 1em;
	height: 19em;
	width: 26%;
	clear: right;
	background-color: #6699cc;
}
main{
	margin-left: 2%;
	margin-bottom: 1em;
	float: left;
	width: 78%;
	height: 19em;
	background-color: #6699cc;
}
footer{
	
	background-color: #6699cc;
	clear: both;
	width: 100%;
	height:10em;
}