   *{
      -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    }
    [ng-drag]{
      -moz-user-select: -moz-none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    #dragbar{
      margin: 0 .5%;
      float: left;
      height: auto;
      width: 19%;
      clear: left;
      overflow: hidden;
    }
     #dragbar div img{
      width: 100%;
      height:auto;
    }
    #dragbar div{
      margin: 1%;
      width: 47%;
      float: left;
      height:auto;
    }
    [ng-drag]{
      width: auto;
      text-align: center;
      display: inline-block;
      cursor: move;
    }
    [ng-drag].drag-over{
      border:solid 1px red;
    }
    [ng-drag].dragging{
      opacity: 0.5;
    }
    #g-drop{
      background: rgba(200,200,200, 0.5);
      text-align: center;
      height: auto;
      width: 79%;
      display:inline-block;
    }
    img.active{
      width: 100px;
      height: 100px;
    }
    #g-drop div{
      width: 33.333%;
      height: auto;
      float:left;
    }
    #g-drop div img{
      width: 100%;
      height: 100px;
    }

    [ng-drop].drag-enter{
      border:solid 5px red;
    }
    [ng-drop] {
      border:1px dotted #999;
    }
