<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Drag&draw</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/2.3.1/spruce/bootstrap.min.css">
    <link rel="stylesheet" href="./drop.css">
    <script src='./jquery.js'></script>
    <script src='./angular.js'></script>
</head>

<body ng-app="dragImg">

    <div class="container" ng-controller="MainCtrl">

        <div class="row">
            <h1>Drag&draw</h1>
        </div>
        <aside id="dragbar">
            <img paintspaces ng-repeat="img in draggableObjects" imagen='img' >
        </aside>

        <div id="g-drop" ng-model="youareWin" youareWin=droppedObjects[2].id>
            <div ng-repeat="img in droppedObjects" paintspaces imagen='img'  >
            </div>
        </div>
    </div>
  <footer ng-if="youareWin=='0'" >
    <h1>hello putoote</h1>
  </footer>


    <script src="ngDraggable.js"></script>
    <script src="app.js"></script>

</body>

</html>
