*{
  box-sizing: border-box;
}
body>section{
  clear: both;
  margin: 2em 0;
  background: #999;
}
.ejercicio1{
  display: table-row;
}
.verde,.rojo{
  display: table-cell;
  height: 100%;
  width: 50%;
  text-align: justify;
}
.verde{
  background: green;
}
.rojo{
  background: red;
}
/*------------------------------------------------------
                      ejercicio2
--------------------------------------------------------*/
.ejercicio2{
  display: table;
  width: 100%;
  height:15em;
  vertical-align: middle;
  background:red;
}
.wrap{
  display: table-row;
  width: 100%;
  vertical-align: middle;
}
.list{
   vertical-align: middle;
  background-color: blue;
  display: table-cell;
}

/*------------------------------------------------------
                      ejercicio3
--------------------------------------------------------*/
.x{
  background-color: blue;
  width: 30.9%;
  display: inline-block;
  margin-right: 3%;
}

.x:last-of-type{
  margin-right: 0;
}
/*------------------------------------------------------
                      ejercicio4
--------------------------------------------------------*/
.ejercicio4{
  height: 15em;
  position:relative;
}
p{
  text-align: justify;
 position: absolute;
  width: 30%;
  margin: 0;
  top: auto;
  bottom: 25%;
  left:3%;
}
p:nth-child(2){
  left: 35%
}
p:nth-child(3){
  left: 67%
}