   *{
      -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    }
    [ng-drag]{
      -moz-user-select: -moz-none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    #dragbar{
      margin: 0 .5%;
      float: left;
      height: 640px;
      width: 19%;
      clear: left;
      overflow: hidden;
    }
    #dragbar img{
      margin: 1%;
      width: 47%;
    }
    [ng-drag]{
      width: auto;
      text-align: center;
      display: inline-block;
      cursor: move;
    }
    [ng-drag].drag-over{
      border:solid 1px red;
    }
    [ng-drag].dragging{
      opacity: 0.5;
    }
    #g-drop{
      background: rgba(200,200,200, 0.5);
      text-align: center;
      height: 640px;
      width: 79%;
      display:inline-block;
    }
    #g-drop img{
      width: 33.33333%;
      float:left;
    }
    [ng-drop].drag-enter{
      border:solid 5px red;
    }
    [ng-drop] {
      border:1px dotted #999;
    }