<div class="row full">
        <div ng-drop="true" ng-drop-success="onDropComplete1($data,$event)">
          <span class="title">Drop area #1</span>


          <img src="{{obj.url}}" alt="" ng-repeat="obj in droppedObjects1" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccess1($data,$event)"></img>

        </div>
        <div ng-drop="true" ng-drop-success="onDropComplete($data,$event)">
          <span class="title">Drop area #2</span>

          <img src="{{obj.url}}" alt="" ng-repeat="obj in droppedObjects2" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccess($data,$event)"></img>

        </div>      
        <div ng-drop="true" ng-drop-success="onDropComplete3($data,$event)">
          <span class="title">Drop area #3</span>

          <img src="{{obj.url}}" alt="" ng-repeat="obj in droppedObjects3" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccess3($data,$event)"></img>

        </div> 
      </div>