<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Drag&draw</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/2.3.1/spruce/bootstrap.min.css">
  <link rel="stylesheet" href="./drop.css">
  <script src='./jquery.js'></script>
  <script src='./angular.js'></script>
</head>
<body ng-app="dragImg">

  <div class="container" ng-controller="MainCtrl">

    <div class="row">
      <h1>Drag&draw</h1>
    </div>

    <aside id="dragbar" ng-drop="true" ng-drop-success="onDropComplete2($data,$event)">

      <img src="{{img.url}}" alt="" ng-repeat="img in draggableObjects" ng-drag="true" ng-drag-data="img" ng-drag-success="onDragSuccess2($data,$event)"></img>
    </aside>
    <div id="g-drop" ng-drop="true" ng-drop-success="onDropComplete1($data,$event)">
      
      <img src="{{img.url}}" alt="" ng-repeat="img in droppedObjects" ng-drag="true" ng-drag-data="img" ng-drag-success="onDragSuccess1($data,$event)"></img>
    </div>
  </div>

  <script src="ngDraggable.js"></script>
  <script src="app.js"></script>

</body>
</html>