*{
    font-family: 'Roboto';
}
#font1{
    font-family:sans-serif;
}
#font2{
    font-family:sans;
}
#font3{
    font-family:serif;
}
#font4{
    font-family:fantasy;
}
#font5{
    font-family:cursive;
}

#fontSize1{
    font-size: xx-small;
}
#fontSize2{
    font-size: x-small;
}
#fontSize3{
    font-size: small;
}
#fontSize4{
    font-size: medium;
}
#fontSize5{
    font-size: large;
}
#fontSize6{
    font-size: x-large;
}
#fontSize7{
    font-size: xx-large;
}
#fontSize8{
    font-size: 18px;
}
#fontSize9{
    font-size: 0.8em;
}
#fontSize10{
    font-size: 50%;
}
#fontSize11{
    font-size: larger;
}
#fontSize12{
    font-size: smaller;
}
.heigths1{
    line-height:normal ;
}
.heigths2{
    line-height:2;
}
.heigths3{
    line-height: 50%;
}
.heigths4{
    line-height: 2em;
}
.heigths5{
    line-height: 14px;
}
.wraper{
    line-height: 50px;
}
.inner{
    line-height: 50%;
}
#paragraph{
    line-height: inherit;
}
#paragraph2{
    line-height: normal;
}
#decor1{
    text-decoration: none;
}
#decor2{
    text-decoration: underline;
}
#decor3{
    text-decoration: overline;
}
#decor4{
    text-decoration: line-through;
}
#paragraphdecor{
    text-decoration: overline underline line-through;
}
#decor5{
    text-decoration: none;
}
#decor6{
    text-decoration: overline underline none;
}
#styleFont1{
    font-style: normal;
}
#styleFont2{
    font-style: italic;
}
#styleFont3{
    font-style: oblique;
}
#styleFont4{
    font-style: inherit;
}
#ex{
    font-style: italic;
}
#ex0{
    font-style: oblique;
}
#ex1{
    font-style: normal;
}

#weigth01{
    font-weight: normal;
}
#weigth02{
    font-weight: bold;
}
#weigth03{
    font-weight:lighter; 
}
#weigth04{
    font-weight: bolder;
}
#weigth05{
    font-weight: 100;
}
#weigth06{
    font-weight: 200;
}
#weigth07{
    font-weight: 300;
}
#weigth08{
    font-weight: 400;
}
#weigth09{
    font-weight: 500;
}
#weigth10{
    font-weight: 600;
}
#weigth11{
    font-weight: 700;
}
#weigth12{
    font-weight: 800;
}
#weigth13{
    font-weight: 900;
}

