body{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
header{
	position: relative;
	left: 0;
	right: 0;
	top:0;
	bottom:-2px;
}
#img1{
	width: 100%;
	height: 100%;

}
#img2{
	width: 100%;
	height: 700px;
	position: fixed;
	bottom: -90px;
	left: 0;
	right: 0;
	z-index: 9;

}
#img3{
	width: 50px;
	height: 70px;
	position: fixed;
	bottom: 100px;
	left: 35%;
	z-index: 12;
}

#img5{
	position: fixed;
	bottom: 0;
	left: 40%;
	width: 800px;
	z-index: 15;
	
}
#img6{
	position:fixed;
	right: 35%;
	bottom: 10%;
	width: 100px;
	z-index: 8;

}
#img7{
	position: fixed;
	width: 130px;
	position: fixed;
	bottom: 100px;
	left: 50%;
	
}
#img8{
	position: fixed;
	width: 80px;
	position: fixed;
	bottom: 100px;
	left: 40%;
}
#img9{
	position: fixed;
	width: 120px;
	position: fixed;
	bottom: 170px;
	left: 34%;
	z-index: 13;
}
#img9:hover{
	width: 300px;
}
