*{
	box-sizing:border-box;
}
.content{
	overflow:hidden;
	width:100%;
	height:600px;
	background-image:url(http://img1.wikia.nocookie.net/__cb20101214233030/lossimpson/es/images/thumb/9/97/Springfield_Penitentiary_2.png/640px-Springfield_Penitentiary_2.png);
	background-position:center;
	background-size:100%;
	display:flex;
	justify-content:center;
	
}
.body{
	background:radial-gradient(circle at 50% -10%, #F5CC18 20%,#fff 20%);
	width:100px;
	height:100px;
	border-radius: 10%/50%;
	bottom:-55.5%;
	position:relative;
	left:0%;
	
}
.head{
	width:65%;
	height:90%;
	background: radial-gradient(ellipse closest-corner at 50% 85% ,#85754D 70%,#F5CC18 79% );
	transform: translate(25%,-94%);
	border-radius:50%/20% ;
	border-top-left-radius:40% ;
	border-top-right-radius:40%;
	
	
}
.ojo{
	width:20%;
	height:15%;
	
	background:radial-gradient(circle ,#000 10%,#050 10%,#0f0 30%,#fff 30%)
}
.ojo.izq{
	border-radius:50% 40%;
	transform: translate(330%,140%);
}
.ojo.der{
	border-radius:40% 50%;
		transform: translate(70%,35%);
}
.ceja{
	width:15%;
	height:5%;
	background:#000;
}
.ceja.der{
		border-radius:50%/100% 20%;
		transform: translate(100%,350%);
}
.ceja.izq{
	border-radius: 20% 50%/100%;
	transform: translate(450%,470%);
}
.nariz{
	width:25%;
	height:15%;
	border-radius:50%;
	box-shadow:inset -1px -1px  0.01em #999;
	transform:translate(149%,60%);
	background:radial-gradient(circle at 25% 25%, #fff,#F5CC18 20%)
;}
.cabello{
	width:100%;
	height:50%;
	border-radius:50%;
	background:radial-gradient(ellipse farthest-side at 50% 100% ,rgba(0,0,0,0) 20%, #000 20%,rgba(0,0,0,0) 30%);
}
.cabello.i{
	transform:translate(-6%,-182%)skew(10deg)rotate(9deg);
}
.cabello.d{
	width:110%;
	transform:translate(0%,-281%)skew(10deg)rotate(10deg);
}
.arm{
	width:35%;
	height:110%;
	position:absolute;
	background:linear-gradient(#fff 30%,#F5CC18 30%);
	top:0;
	border-radius:10%;
}
.arm.izq{
	left:-25%;
	border-top-left-radius:20%;
	
}
.arm.der{
	left:90%;
	border-top-right-radius:20%;
}
.sobre{
	bottom:0;
	left:0;
}
.leg{
	width:40%;
	height:120%;
	background:#2A79C9;
	border-radius:10%;
	position:absolute;
	bottom:-110%;
}
.leg.der{
	left:5%
}
.leg.izq{
	right:5%
}
.panza{
	background:#2A79C9;
	position:absolute;
	bottom:-30%;
	left:5%;
	width:80%;
	height:50%;
	border-radius: 50%;
}
.zoe{
	width:110%;
	height:15%;
	background:#303C53;
	position:absolute;
	bottom:-10%;
	border-radius:10%;
}
.donut{
	background:radial-gradient(circle ,rgba(0,0,0,0) 10%,#FA8CAD 35%);
	width:100%;
	height:30%;
	position:absolute;
	bottom:-4%;
	left:40%;
	border-radius:50%;
}
.homer{
	position: relative;
	bottom:-8%;
	left:-40%;
}
/*---------------animations-----------------------------*/
.ojos{
	-moz-animation-name: mueveojos;
	-moz-animation-delay: 0s;
	-moz-animation-direction: alternate;
	-moz-animation-fill-mode: forwards;
	-moz-animation-iteration-count: 4;
	-moz-animation-play-state: running;
	-moz-animation-timing-function: 4s;
	
}
@keyframes{
	10%{
	background: radial-gradient(ellipse closest-corner at 25% 25% ,#85754D 70%,#F5CC18 79% );		
	}
	100${
		background: radial-gradient(ellipse closest-corner at 50% 0% ,#85754D 70%,#F5CC18 79% );		
	}
}
.homer{
	transform-origin:bottom center;
	transform:translate(-100%,0)rotate(-20deg);
	-moz-;animation-name: caminar;
	-moz-animation-duration:3s;
	-moz-animation-timing-function:ease-in;
	-moz-animation-delay:0s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-fill-mode:both;
	-moz-animation-play-state: running;
		
}
 @keyframes caminar{
	0%{
		transform:translate(-100%,0)rotate(-20deg);
	}
	50%{
		transform:translate(100%,0)rotate(0deg);
	}
	 100%{
		transform:translate(300%,0)rotate(20deg);
	}
	
}