<!DOCTYPE html>
<html lang="en" ng-app="phonecatApp">
<head>
  <meta charset="UTF-8">
  <title>angular</title>
  <link rel="stylesheet" href="./style.css">
  <script src="./js/angular.js" type="text/javascript"></script>
  <script src="./app.js" type="text/javascript"></script>
</head>
<body>
  <div ng-view></div>
 <!-- Search: <input ng-model="query">
  Sort by:
  <select ng-model="orderProp">
    <option value="name">Alphabetical</option>
    <option value="age">Newest</option>
  </select>
  <section phones></section> -->
  <script src="./phonesCtrl.js" ></script>
   <script src="./myPhonesDirective.js" ></script>
</body>
</html>
