#contact{
  background-color: #f95353;
    text-align: center;
}
.project{
 background-image: url(../img/money.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    color: #f95353;
    background-color: #fff;
}
.ADD{
    color: rgba(60,60,60,.4);
}
.contactform{
    width: 50%;
}