#footer{
  background-color: #30323a;
  clear: both;
}
.footer1{
  float: left;
  margin-bottom:1em;
}
.spaced{
  margin-bottom: 1em;
}
.folus1{
    vertical-align: middle;
  padding: .5em;
}
.folus2{
  padding: .5em;
  box-shadow: inset 1px 0 .3em #999;
  width: 3em;
}
.follow{
  background: #fff;
  border-radius: 3px;
  margin: 1em 0;
}

.footer2{
  float: right;
    margin:0 1em;
  text-align: right;
}

.copy{
  clear: both;
}