@font-face {
    font-family: 'proxima_novaregular';
    src: url('../fonts/proxima_nova_reg-webfont.eot');
    src: url('../fonts/proxima_nova_reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima_nova_reg-webfont.woff') format('woff'),
         url('../fonts/proxima_nova_reg-webfont.ttf') format('truetype'),
         url('../fonts/proxima_nova_reg-webfont.svg#proxima_novaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novabold_italic';
    src: url('../fonts/proxima_nova_bold_it-webfont.eot');
    src: url('../fonts/proxima_nova_bold_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima_nova_bold_it-webfont.woff') format('woff'),
         url('../fonts/proxima_nova_bold_it-webfont.ttf') format('truetype'),
         url('../fonts/proxima_nova_bold_it-webfont.svg#proxima_novabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
*,
::after,
::before{
	box-sizing: border-box;
	font-family: 'proxima_novaregular';
	color:#fff;
}
body{
	margin: 0;
	width: 100%;
}
.linkpag{
    opacity: 0;
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
}
.link{
	text-decoration: none;
}
.sectioncontainer{
    position: relative;
	width: 100%;
	padding: 1.9531%;
}
