
#principal{
	background-color: #30323a;
	padding-bottom: 5em;
}
.buttonslider{
	width: 19.20%;
	height:100%;
	border: 6px solid transparent;
	border-radius:3px;
	box-shadow: 0 0 0.2em #000;
	position: absolute;
	left:-19.2%;
	top: 0;
	background: rgba(48,50,58,.90);
	background-clip: content-box;
	cursor:pointer;
}
.horizonarrowR{
    background: url(../img/arrowleft.png) no-repeat;
    background-position: center;
	margin-top: 20%;
	display: block;
	float: left;
	width: 50%;
	height: 40%;
}
.horizonarrowL{
	background: url(../img/arrowrigth.png) no-repeat;
    background-position: center;
	margin-top: 20%;
	display: block;
	float: left;
	width: 50%;
	height: 40%;
}
.bordered{
	border-right: 1px solid #45474e;
}
.sublegend{
	height: 40%;
	text-align: center;
	display: block;
	color: #45474e;
}
.slider{
		background-image: url(../img/yokohama.jpg);
	background-size: 100%;
	background-color: #8a8a8a;
	padding: 16% 13.46%;
	margin-bottom: 3em;
}
.infoextended{
	box-shadow: 0 0 0.2em #000;
	padding: 2%;
	width: 47%;
	border-radius:3px;
	background-color: #fff;
	color: #30323a;
	position: relative;
}
.readM{
	background-color: #97c13c;
	border: none;
	border-radius:3px;
	text-transform: uppercase;
	cursor: pointer;
	padding-left: 64px;
	position: relative;
}
.infoextended1{
	padding: 0 8.95%;
	text-align: justify;
	margin-bottom: 1em;
}
.center{
	text-align: center;
	text-transform: uppercase;
}
.one{
	background: linear-gradient(-0deg, #97c13c 96% ,#000 );
	width: 60%;
	height: 4em;
	position: absolute;
	right: 0;
	bottom: -4em;
	
}
.two{
	width: 23%;
	height: 4em;
	margin: 0 39.8%;
}
.readM::after{
	content: "";
	background-image: url(../img/note.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 12.5%;
	height: 51.6%;
	position: absolute;
	left: 7%;
	top: 25%;
}