#map{
  background: linear-gradient(-0deg ,rgba(243, 155, 84,.8),rgba(243, 155, 84,.8)) ,  url(../img/map.png) 100%,#f39b54;
    background-size: 100%;
    font-weight:bold;
}
#map::after{
    	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
.seend{
 background-image: url(../img/flipaper.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    color: #f39b54;
    background-color: #fff;
}
.adress{
    float: left;
    width: 30%;
}
.iconsc{
    width: 10%;
    display: inline-block;
    margin: 2%;
}
.contac{
    float: right;
    width: 60%;
}
.contactform{
    width: 100%;
}
textarea,
textarea+input+input,
textarea+input{
    padding-left: 2%;
    background-color: rgba(200,200,200,.4);
    background-color: rgba(200,200,200,.4);
    border: transparent;
    border-radius: 3px;
        margin-bottom: 1em;
}
textarea{
    width: 100%;
}
textarea+input{
    float: left;
    height: 3em;
    width:49%;
}
textarea+input+input{
    float: right;
    height:3em;
    width:49%;
}
.seend{
   width: 30%;
    float: left;
    margin: 1em 0;
}
