.logo{
	float: left;
	margin: 0;
	padding: 0;
	color: #838489;
	text-transform: uppercase;
	font-weight: 100;
	position: relative;
	font-size: 200%;
}
.logo::before{
	content: "_";
	font-size: 1.4em;
	font-weight: bold;
	position: absolute;
	left: 22.4%;
	bottom:24%;
}
.headnav{
	width:  76.5%;
	height: 100%;
	text-align: center;
	margin: 0 auto;
}
.menu{
	margin: 0 1.5625%; 
	height: 100%;
	display: inline-block;
	border-bottom: 2px solid transparent;
}
.menu:hover{
	border-bottom: 2px solid #97c13c;
}
#formsearch{
	width: 15.62%;
    float: right;
    height: 100%;
	position: relative;
}
#busqueda{
	background: transparent;
	border-bottom: 2px solid  #45474e;
	border-width:0 0 1px 0;
	width: 100%;
	padding-right:25px;
}
#enviar{
	background: url('../img/conjunt.png') no-repeat,transparent;
	background-position: 0% -1%;
	background-size:850%;
	width: 25px;
	height: 25px;
	position: absolute;
	right: -4%;
	top:-5px;
	border:transparent;
	cursor: pointer;
}
#principal>header{
	width: 100%;
	margin: 0 auto 1.4em;
}
