#portafolio{
  background-color: #97c13c;: 
}
.menuP{
  width: 50%;
  margin: 0 auto;
}
.menuli{
  display: inline-block;
  margin-right:1%;
  width: 22%;
  height: 64px;
}
.inactive{
    opacity: .3;
}
.active{
    opacity: 1;
}
.display{
	background: url(../img/monitor.png) no-repeat ,transparent;
  background-position: center;
  background-size: contain;
}
.photo{
	background: url(../img/photos.png) no-repeat ,transparent;
  background-position: center;
  background-size: contain;
}
.cellphone{
	background: url(../img/cellphone.png) no-repeat ,transparent;
  background-position: center;
  background-size: contain;
}
.video{
	background: url(../img/video.png) no-repeat ,transparent;
  background-position: center;
  background-size: contain;
}
/*-----------------------------------------------------------------------*/
.table{
    display: table;
}
.buttonH{
    overflow: hidden;
    width: 5%;
    height: 4em;
    position: absolute;
    top: -2em;
    left: 47.5%;
    background-color: #fff;
    background-clip: padding-box;
    border: .4em solid rgba(255,255,255,.4);
    border-radius: 3px;
}
.tableR{
    display: table-row;
}
.tableCup{
    background: url(../img/arrowup.png) no-repeat center;
    display: table-cell;
}
.tableCdown{
    background: url(../img/arrowdown.png) no-repeat center;
    display: table-cell;
}
.tableC{
    display: table-cell; 
    
}
.portfolio{
    width: 79.6%;
    margin: 0 auto;
    height: 30em;
}
.portf{
    border: .4em solid #97c13c;
    background: #999999;
    width: 29%;
    height: 48%;
    vertical-align: bottom;
    padding: 1%;
    
}
.green{
    color: #9bc593;
}
.nline{
    display: block;
}
.pic1{
    background-image: url(../img/iwok.jpg);
    background-size: cover;
}
.pic2{
    background: url(../img/machine.png);
    background-size: cover;
}
.pic3{
    background-image: url(../img/iwork2.jpg);
    background-size: cover;
}
.picinactive {
    background: linear-gradient(-0deg ,rgba(0,0,0,.9),rgba(153,153,153,.7)),url(../img/machine.png),#999;
    background-size: cover;
}
.buttonportf{
    background-color: #fff;
    color: #97c13c;
    background-image: url(../img/engrane.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    
}