#servicesSkills{
  background-color: #30323a;
    text-align: center;
    padding-top: 5em;
    padding-bottom: 5em;
    
}
.serv{
    color: #74767b;
    cursor: pointer;
    background-color: #45474e;
    width: 40%;
    height: 4em;
    margin: 3em 30% 5em;
    border: transparent;
    border-radius: 3px;
    box-shadow: 3px 3px 0.5em #000;
    
}
.glip{
    width: 20%;
}
.cel{
    border: 1.6em solid transparent;
}
.color{
    color: #95969a;
}
