#theTeam{
  background-color: #34aecc;
}
.team{
    font-size: 2em;
    margin-top: 1.3em;
}
.perfil{
    text-align: center;
    width: 79%;
    margin: 2em auto 4em;
}
.big{
    font-size: 150%;
    font-weight: 500;
    margin: 3% 0;
}
.perfils{
    border-radius: 3px;
    margin: 2em 0;
        width: 100%;
}
.space{
        border: 1.1em solid transparent;
    opacity: .3;
}
.licon{
    margin: 1.3em 0;
    list-style: none;
    width: 100%;
    padding: 0;
}
.icons{
    display: inline-block;
    width: 15%;
}
.social{
    width: 100%;
    opacity: .3;
}
.social:hover,
.space:hover{
    opacity: 1;
}
.teaam{
    background-image: url(../img/user.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    color: #34aecc;
    background-color: #fff;
}
.button{
    cursor: pointer;
    width: 20%;
    height: 4em;
    margin: 3em 40% 5em;
    padding-left: 64px;
    border-radius: 3px;
}